body {
  background-color: rgb(177, 189, 212);
  min-width: 500px;
}
#flashCardArea {
  margin: 10px auto;
  width: 50%;
}
.card {
  border: 5px;
  border-style: solid;
  border-color: rgb(68, 70, 83);
  height: 250px;
  width: 100%;
  font-size: 90px;
  margin: 10px auto;
  text-align: center;
}
#backOfCard {
  display: none;
  background-color: white;
  line-height: 200px;
}
#frontOfCard {
  background-color: lightgrey;
  line-height: 200px;

}
h1 {
  font-size: 40px;
  text-align: center;
}
h2 {
  font-size: 20px;
}
.buttons {
  color: black;
}
#correctButton {
  background-color: rgb(67, 200, 60);
  color: black;
  padding: 5px;
  margin: 5px;
  display: none;
}
#incorrectButton {
  background-color: rgb(240, 55, 14);
  color: black;
  padding: 5px;
  margin: 5px;
  display: none;
}
#previous {
  display: none;
}
#next {
  display: none;
}
#reset {
  display: none;
}
#instructions{
  text-align: justify;
}
